In [1]:
import os
import json
import cv2 as cv
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from circum import xy_values
import random

In [2]:
os.chdir("/home/kiprono/Documents/STELLENBOSCH UNIVERISTY/Masters by Research\
/Mask RCNN/Annotation projects/RR/train_images")

In [3]:
with open("via_project_rr.json","r") as file:
    data = file.read()

In [4]:
data = json.loads(data)

In [5]:
headers = ['filename', 'file_size', 'file_attributes', 'region_count', 'region_id',
       'region_shape_attributes', 'region_attributes']
meta_rr = pd.DataFrame(columns=headers)
meta_rr

Empty DataFrame
Columns: [filename, file_size, file_attributes, region_count, region_id, region_shape_attributes, region_attributes]
Index: []

In [6]:
i = 6
one = list((list(data.values())[1]).values())[i]
one

{'filename': '0001-0001-11647-166-51.jpg',
 'size': 74541,
 'regions': [{'shape_attributes': {'name': 'circle',
    'cx': 96,
    'cy': 20,
    'r': 24},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 80, 'cy': 54, 'r': 19},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 263, 'cy': 45, 'r': 14.45},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 261, 'cy': 74, 'r': 15},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 241, 'cy': 159, 'r': 12},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 218, 'cy': 162, 'r': 13},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 86, 'cy': 220, 'r': 15},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 60, 'cy': 244, 'r': 15},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 88, 'cy': 261, 'r': 11.321},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 112, 'cy': 255, 'r': 10.881},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 285, 'cy': 292, 'r': 13.297},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 269, 'cy': 310, 'r': 12},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 260, 'cy': 292, 'r': 12},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 12, 'cy': 361, 'r': 16},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 308, 'cy': 359, 'r': 14},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 349, 'cy': 357, 'r': 14},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 366, 'cy': 457, 'r': 12},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 382, 'cy': 486, 'r': 17},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 402, 'cy': 514, 'r': 14},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 450, 'cy': 533, 'r': 8},
   'region_attributes': {}},
  {'shape_attributes': {'name': 'circle', 'cx': 426, 'cy': 432, 'r': 10},
   'region_attributes': {}}],
 'file_attributes': {}}

In [8]:
i = 6
one = list((list(data.values())[1]).values())[i]
a = one["filename"] #filename
print(a)
b = one["size"] #file_size
c = "{}" #file_attributes
d = len(one["regions"])#region_count
g = "{}" #region_attributes
img = cv.imread(a)
one_df = pd.DataFrame(columns=headers)
for j in range(len(one["regions"])):
    xc = one["regions"][j]["shape_attributes"]["cx"]#xc
    yc = one["regions"][j]["shape_attributes"]["cy"]#yc
    r = one["regions"][j]["shape_attributes"]["r"]#radius
    t = {'name':'polygon','all_points_x':None,'all_points_y':None}
    x,y = xy_values(xc,yc,r,img.shape[1],img.shape[0])
    t['all_points_x']  = x
    t['all_points_y'] = y
    e = j #region_id
    f = t #region_shape_attributes
    row = [a,b,c,d,e,f,g]
    one_df.loc[j] = row
meta_rr = pd.concat([meta_rr,one_df],ignore_index=True)
meta_rr

0001-0001-11647-166-51.jpg

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,0001-0001-11647-166-51.jpg,74541,{},21,0,"{'name': 'polygon', 'all_points_x': [120, 119,...",{}
1,0001-0001-11647-166-51.jpg,74541,{},21,1,"{'name': 'polygon', 'all_points_x': [99, 98, 9...",{}
2,0001-0001-11647-166-51.jpg,74541,{},21,2,"{'name': 'polygon', 'all_points_x': [277, 277,...",{}
3,0001-0001-11647-166-51.jpg,74541,{},21,3,"{'name': 'polygon', 'all_points_x': [276, 275,...",{}
4,0001-0001-11647-166-51.jpg,74541,{},21,4,"{'name': 'polygon', 'all_points_x': [253, 252,...",{}
5,0001-0001-11647-166-51.jpg,74541,{},21,5,"{'name': 'polygon', 'all_points_x': [231, 230,...",{}
6,0001-0001-11647-166-51.jpg,74541,{},21,6,"{'name': 'polygon', 'all_points_x': [101, 100,...",{}
7,0001-0001-11647-166-51.jpg,74541,{},21,7,"{'name': 'polygon', 'all_points_x': [75, 74, 7...",{}
8,0001-0001-11647-166-51.jpg,74541,{},21,8,"{'name': 'polygon', 'all_points_x': [99, 99, 9...",{}
9,0001-0001-11647-166-51.jpg,74541,{},21,9,"{'name': 'polygon', 'all_points_x': [122, 122,...",{}
10,0001-0001-11647-166-51.jpg,74541,{},21,10,"{'name': 'polygon', 'all_points_x': [298, 298,...",{}
11,0001-0001-11647-166-51.jpg,74541,{},21,11,"{'name': 'polygon', 'all_points_x': [281, 280,...",{}
12,0001-0001-11647-166-51.jpg,74541,{},21,12,"{'name': 'polygon', 'all_points_x': [272, 271,...",{}
13,0001-0001-11647-166-51.jpg,74541,{},21,13,"{'name': 'polygon', 'all_points_x': [28, 27, 2...",{}
14,0001-0001-11647-166-51.jpg,74541,{},21,14,"{'name': 'polygon', 'all_points_x': [322, 321,...",{}
15,0001-0001-11647-166-51.jpg,74541,{},21,15,"{'name': 'polygon', 'all_points_x': [363, 362,...",{}
16,0001-0001-11647-166-51.jpg,74541,{},21,16,"{'name': 'polygon', 'all_points_x': [378, 377,...",{}
17,0001-0001-11647-166-51.jpg,74541,{},21,17,"{'name': 'polygon', 'all_points_x': [399, 398,...",{}
18,0001-0001-11647-166-51.jpg,74541,{},21,18,"{'name': 'polygon', 'all_points_x': [416, 415,...",{}
19,0001-0001-11647-166-51.jpg,74541,{},21,19,"{'name': 'polygon', 'all_points_x': [454, 454,...",{}
20,0001-0001-11647-166-51.jpg,74541,{},21,20,"{'name': 'polygon', 'all_points_x': [436, 435,...",{}

## LOOP THROUGH ALL THE IMAGES - RR

In [9]:
n = len(list((list(data.values())[1]).values()))
print(n)
meta_rr = pd.DataFrame(columns=headers)
meta_rr

368

Empty DataFrame
Columns: [filename, file_size, file_attributes, region_count, region_id, region_shape_attributes, region_attributes]
Index: []

In [10]:
for i in range(n):
    one = list((list(data.values())[1]).values())[i]
    a = one["filename"] #filename
    b = one["size"] #file_size
    c = "{}" #file_attributes
    d = len(one["regions"])#region_count
    g = "{}" #region_attributes
    img = cv.imread(a)
    one_df = pd.DataFrame(columns=headers)
    for j in range(len(one["regions"])):
        xc = one["regions"][j]["shape_attributes"]["cx"]#xc
        yc = one["regions"][j]["shape_attributes"]["cy"]#yc
        r = one["regions"][j]["shape_attributes"]["r"]#radius
        t = {'name':'polygon','all_points_x':None,'all_points_y':None}
        x,y = xy_values(xc,yc,r,img.shape[0],img.shape[1])
        t['all_points_x']  = x
        t['all_points_y'] = y
        e = j #region_id
        f = t #region_shape_attributes
        row = [a,b,c,d,e,f,g]
        one_df.loc[j] = row
    meta_rr = pd.concat([meta_rr,one_df],ignore_index=True)

In [11]:
meta_rr

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,0001-0001-11647-166-51.jpg,74541,{},21,0,"{'name': 'polygon', 'all_points_x': [120, 119,...",{}
1,0001-0001-11647-166-51.jpg,74541,{},21,1,"{'name': 'polygon', 'all_points_x': [99, 98, 9...",{}
2,0001-0001-11647-166-51.jpg,74541,{},21,2,"{'name': 'polygon', 'all_points_x': [277, 277,...",{}
3,0001-0001-11647-166-51.jpg,74541,{},21,3,"{'name': 'polygon', 'all_points_x': [276, 275,...",{}
4,0001-0001-11647-166-51.jpg,74541,{},21,4,"{'name': 'polygon', 'all_points_x': [253, 252,...",{}
5,0001-0001-11647-166-51.jpg,74541,{},21,5,"{'name': 'polygon', 'all_points_x': [231, 230,...",{}
6,0001-0001-11647-166-51.jpg,74541,{},21,6,"{'name': 'polygon', 'all_points_x': [101, 100,...",{}
7,0001-0001-11647-166-51.jpg,74541,{},21,7,"{'name': 'polygon', 'all_points_x': [75, 74, 7...",{}
8,0001-0001-11647-166-51.jpg,74541,{},21,8,"{'name': 'polygon', 'all_points_x': [99, 99, 9...",{}
9,0001-0001-11647-166-51.jpg,74541,{},21,9,"{'name': 'polygon', 'all_points_x': [122, 122,...",{}
10,0001-0001-11647-166-51.jpg,74541,{},21,10,"{'name': 'polygon', 'all_points_x': [298, 298,...",{}
11,0001-0001-11647-166-51.jpg,74541,{},21,11,"{'name': 'polygon', 'all_points_x': [281, 280,...",{}
12,0001-0001-11647-166-51.jpg,74541,{},21,12,"{'name': 'polygon', 'all_points_x': [272, 271,...",{}
13,0001-0001-11647-166-51.jpg,74541,{},21,13,"{'name': 'polygon', 'all_points_x': [28, 27, 2...",{}
14,0001-0001-11647-166-51.jpg,74541,{},21,14,"{'name': 'polygon', 'all_points_x': [322, 321,...",{}
15,0001-0001-11647-166-51.jpg,74541,{},21,15,"{'name': 'polygon', 'all_points_x': [363, 362,...",{}
16,0001-0001-11647-166-51.jpg,74541,{},21,16,"{'name': 'polygon', 'all_points_x': [378, 377,...",{}
17,0001-0001-11647-166-51.jpg,74541,{},21,17,"{'name': 'polygon', 'all_points_x': [399, 398,...",{}
18,0001-0001-11647-166-51.jpg,74541,{},21,18,"{'name': 'polygon', 'all_points_x': [416, 415,...",{}
19,0001-0001-11647-166-51.jpg,74541,{},21,19,"{'name': 'polygon', 'all_points_x': [458, 457,...",{}
20,0001-0001-11647-166-51.jpg,74541,{},21,20,"{'name': 'polygon', 'all_points_x': [436, 435,...",{}
21,0001-0001-12013-251-409.jpg,59225,{},4,0,"{'name': 'polygon', 'all_points_x': [61, 60, 6...",{}
22,0001-0001-12013-251-409.jpg,59225,{},4,1,"{'name': 'polygon', 'all_points_x': [45, 44, 4...",{}
23,0001-0001-12013-251-409.jpg,59225,{},4,2,"{'name': 'polygon', 'all_points_x': [18, 17, 1...",{}
24,0001-0001-12013-251-409.jpg,59225,{},4,3,"{'name': 'polygon', 'all_points_x': [161, 160,...",{}
25,0001-0001-12014-253-337.jpg,56653,{},2,0,"{'name': 'polygon', 'all_points_x': [225, 224,...",{}
26,0001-0001-12014-253-337.jpg,56653,{},2,1,"{'name': 'polygon', 'all_points_x': [302, 301,...",{}
27,0001-0001-12014-272-396.jpg,59146,{},1,0,"{'name': 'polygon', 'all_points_x': [22, 21, 2...",{}
28,0001-0001-12402-531-78.jpg,107941,{},2,0,"{'name': 'polygon', 'all_points_x': [377, 376,...",{}
29,0001-0001-12402-531-78.jpg,107941,{},2,1,"{'name': 'polygon', 'all_points_x': [239, 238,...",{}
...,...,...,...,...,...,...,...
1948,0006-0005-1-128-0128.jpg,193628,{},8,4,"{'name': 'polygon', 'all_points_x': [81, 80, 8...",{}
1949,0006-0005-1-128-0128.jpg,193628,{},8,5,"{'name': 'polygon', 'all_points_x': [310, 309,...",{}
1950,0006-0005-1-128-0128.jpg,193628,{},8,6,"{'name': 'polygon', 'all_points_x': [591, 590,...",{}
1951,0006-0005-1-128-0128.jpg,193628,{},8,7,"{'name': 'polygon', 'all_points_x': [647, 646,...",{}
1952,0006-0005-11646-140-81.jpg,94919,{},4,0,"{'name': 'polygon', 'all_points_x': [350, 349,...",{}
1953,0006-0005-11646-140-81.jpg,94919,{},4,1,"{'name': 'polygon', 'all_points_x': [281, 280,...",{}
1954,0006-0005-11646-140-81.jpg,94919,{},4,2,"{'name': 'polygon', 'all_points_x': [128, 127,...",{}
1955,0006-0005-11646-140-81.jpg,94919,{},4,3,"{'name': 'polygon', 'all_points_x': [51, 50, 5...",{}
1956,0006-0006-11645-117-69.jpg,86383,{},5,0,"{'name': 'polygon', 'all_points_x': [345, 344,...",{}
1957,0006-0006-11645-117-69.jpg,86383,{},5,1,"{'name': 'polygon', 'all_points_x': [111, 110,...",{}
1958,0006-0006-11645-117-69.jpg,86383,{},5,2,"{'name': 'polygon', 'all_points_x': [40, 39, 3...",{}
1959,0006-0006-11645-117-69.jpg,86383,{},5,3,"{'name': 'polygon', 'all_points_x': [351, 350,...",{}
1960,0006-0006-11645-117-69.jpg,86383,{},5,4,"{'name': 'polygon', 'all_points_x': [396, 395,...",{}
1961,0006-0006-11645-126-177.jpg,126209,{},13,0,"{'name': 'polygon', 'all_points_x': [122, 121,...",{}
1962,0006-0006-11645-126-177.jpg,126209,{},13,1,"{'name': 'polygon', 'all_points_x': [442, 441,...",{}
1963,0006-0006-11645-126-177.jpg,126209,{},13,2,"{'name': 'polygon', 'all_points_x': [446, 445,...",{}
1964,0006-0006-11645-126-177.jpg,126209,{},13,3,"{'name': 'polygon', 'all_points_x': [262, 261,...",{}
1965,0006-0006-11645-126-177.jpg,126209,{},13,4,"{'name': 'polygon', 'all_points_x': [285, 284,...",{}
1966,0006-0006-11645-126-177.jpg,126209,{},13,5,"{'name': 'polygon', 'all_points_x': [268, 267,...",{}
1967,0006-0006-11645-126-177.jpg,126209,{},13,6,"{'name': 'polygon', 'all_points_x': [251, 250,...",{}
1968,0006-0006-11645-126-177.jpg,126209,{},13,7,"{'name': 'polygon', 'all_points_x': [282, 281,...",{}
1969,0006-0006-11645-126-177.jpg,126209,{},13,8,"{'name': 'polygon', 'all_points_x': [288, 287,...",{}
1970,0006-0006-11645-126-177.jpg,126209,{},13,9,"{'name': 'polygon', 'all_points_x': [167, 166,...",{}
1971,0006-0006-11645-126-177.jpg,126209,{},13,10,"{'name': 'polygon', 'all_points_x': [167, 166,...",{}
1972,0006-0006-11645-126-177.jpg,126209,{},13,11,"{'name': 'polygon', 'all_points_x': [66, 65, 6...",{}
1973,0006-0006-11645-126-177.jpg,126209,{},13,12,"{'name': 'polygon', 'all_points_x': [96, 95, 9...",{}
1974,0006-0006-12014-253-337.jpg,60899,{},1,0,"{'name': 'polygon', 'all_points_x': [123, 122,...",{}
1975,0006-0006-12384-483-145.jpg,84791,{},3,0,"{'name': 'polygon', 'all_points_x': [105, 104,...",{}
1976,0006-0006-12384-483-145.jpg,84791,{},3,1,"{'name': 'polygon', 'all_points_x': [138, 137,...",{}
1977,0006-0006-12384-483-145.jpg,84791,{},3,2,"{'name': 'polygon', 'all_points_x': [26, 25, 2...",{}

## ROUGH SPACE

In [40]:
images_indir = os.listdir(os.getcwd())

In [48]:
for img in images_indir:
    if img not in images_annotated and img.startswith("via")==False:
        pass
        #os.remove(img)
    else:
        pass