In [25]:
import os
import json
import cv2 as cv
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from circum import xy_values
import random

In [26]:
os.chdir("/home/kiprono/Documents/STELLENBOSCH UNIVERISTY/Masters by Research\
/Mask RCNN/Annotation projects/RRR/test_images")

In [27]:
with open("via_project_rrr.json","r") as file:
    data = file.read()

In [28]:
data = json.loads(data)

In [29]:
headers = ['filename', 'file_size', 'file_attributes', 'region_count', 'region_id',
       'region_shape_attributes', 'region_attributes']
meta_rrr = pd.DataFrame(columns=headers)
meta_rrr

Empty DataFrame
Columns: [filename, file_size, file_attributes, region_count, region_id, region_shape_attributes, region_attributes]
Index: []

## ONE

In [30]:
i = 6
one = list(data.values())[i]
a = one["filename"] #filename
print(a)
b = one["size"] #file_size
c = "{}" #file_attributes
d = len(one["regions"])#region_count
g = "{}" #region_attributes
img = cv.imread(a)
one_df = pd.DataFrame(columns=headers)
for j in range(len(one["regions"])):
    xc = one["regions"][j]["shape_attributes"]["cx"]#xc
    yc = one["regions"][j]["shape_attributes"]["cy"]#yc
    r = one["regions"][j]["shape_attributes"]["r"]#radius
    t = {'name':'polygon','all_points_x':None,'all_points_y':None}
    x,y = xy_values(xc,yc,r,img.shape[1],img.shape[0])
    t['all_points_x']  = x
    t['all_points_y'] = y
    e = j #region_id
    f = t #region_shape_attributes
    row = [a,b,c,d,e,f,g]
    one_df.loc[j] = row
meta_rrr = pd.concat([meta_rrr,one_df],ignore_index=True)
meta_rrr

rr-0001-0002-1-128-0128.jpg

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,rr-0001-0002-1-128-0128.jpg,444078,{},9,0,"{'name': 'polygon', 'all_points_x': [464, 463,...",{}
1,rr-0001-0002-1-128-0128.jpg,444078,{},9,1,"{'name': 'polygon', 'all_points_x': [424, 423,...",{}
2,rr-0001-0002-1-128-0128.jpg,444078,{},9,2,"{'name': 'polygon', 'all_points_x': [489, 488,...",{}
3,rr-0001-0002-1-128-0128.jpg,444078,{},9,3,"{'name': 'polygon', 'all_points_x': [604, 603,...",{}
4,rr-0001-0002-1-128-0128.jpg,444078,{},9,4,"{'name': 'polygon', 'all_points_x': [551, 550,...",{}
5,rr-0001-0002-1-128-0128.jpg,444078,{},9,5,"{'name': 'polygon', 'all_points_x': [474, 473,...",{}
6,rr-0001-0002-1-128-0128.jpg,444078,{},9,6,"{'name': 'polygon', 'all_points_x': [837, 836,...",{}
7,rr-0001-0002-1-128-0128.jpg,444078,{},9,7,"{'name': 'polygon', 'all_points_x': [699, 699,...",{}
8,rr-0001-0002-1-128-0128.jpg,444078,{},9,8,"{'name': 'polygon', 'all_points_x': [542, 541,...",{}

# LOOP OVER ALL

In [31]:
n = len(list(data.values()))
meta_rrr = pd.DataFrame(columns=headers)
meta_rrr

Empty DataFrame
Columns: [filename, file_size, file_attributes, region_count, region_id, region_shape_attributes, region_attributes]
Index: []

In [32]:
for i in range(n):
    one = list(data.values())[i]
    a = one["filename"] #filename
    b = one["size"] #file_size
    c = "{}" #file_attributes
    d = len(one["regions"])#region_count
    g = "{}" #region_attributes
    img = cv.imread(a)
    one_df = pd.DataFrame(columns=headers)
    for j in range(len(one["regions"])):
        xc = one["regions"][j]["shape_attributes"]["cx"]#xc
        yc = one["regions"][j]["shape_attributes"]["cy"]#yc
        r = one["regions"][j]["shape_attributes"]["r"]#radius
        t = {'name':'polygon','all_points_x':None,'all_points_y':None}
        x,y = xy_values(xc,yc,r,img.shape[1],img.shape[0])
        t['all_points_x']  = x
        t['all_points_y'] = y
        e = j #region_id
        f = t #region_shape_attributes
        row = [a,b,c,d,e,f,g]
        one_df.loc[j] = row
    meta_rrr = pd.concat([meta_rrr,one_df],ignore_index=True)

In [33]:
meta_rrr

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,rr-0001-0001-12013-252-304.jpg,74553,{},1,0,"{'name': 'polygon', 'all_points_x': [404, 403,...",{}
1,rr-0001-0001-12014-253-337.jpg,82272,{},2,0,"{'name': 'polygon', 'all_points_x': [224, 223,...",{}
2,rr-0001-0001-12014-253-337.jpg,82272,{},2,1,"{'name': 'polygon', 'all_points_x': [303, 302,...",{}
3,rr-0001-0001-12402-532-81.jpg,122638,{},3,0,"{'name': 'polygon', 'all_points_x': [169, 168,...",{}
4,rr-0001-0001-12402-532-81.jpg,122638,{},3,1,"{'name': 'polygon', 'all_points_x': [394, 393,...",{}
5,rr-0001-0001-12402-532-81.jpg,122638,{},3,2,"{'name': 'polygon', 'all_points_x': [639, 639,...",{}
6,rr-0001-0001-12403-536-88.jpg,98392,{},6,0,"{'name': 'polygon', 'all_points_x': [305, 304,...",{}
7,rr-0001-0001-12403-536-88.jpg,98392,{},6,1,"{'name': 'polygon', 'all_points_x': [204, 203,...",{}
8,rr-0001-0001-12403-536-88.jpg,98392,{},6,2,"{'name': 'polygon', 'all_points_x': [189, 188,...",{}
9,rr-0001-0001-12403-536-88.jpg,98392,{},6,3,"{'name': 'polygon', 'all_points_x': [422, 421,...",{}
10,rr-0001-0001-12403-536-88.jpg,98392,{},6,4,"{'name': 'polygon', 'all_points_x': [470, 469,...",{}
11,rr-0001-0001-12403-536-88.jpg,98392,{},6,5,"{'name': 'polygon', 'all_points_x': [336, 335,...",{}
12,rr-0001-0002-1-62-0062.jpg,378044,{},20,0,"{'name': 'polygon', 'all_points_x': [616, 615,...",{}
13,rr-0001-0002-1-62-0062.jpg,378044,{},20,1,"{'name': 'polygon', 'all_points_x': [534, 533,...",{}
14,rr-0001-0002-1-62-0062.jpg,378044,{},20,2,"{'name': 'polygon', 'all_points_x': [597, 596,...",{}
15,rr-0001-0002-1-62-0062.jpg,378044,{},20,3,"{'name': 'polygon', 'all_points_x': [467, 466,...",{}
16,rr-0001-0002-1-62-0062.jpg,378044,{},20,4,"{'name': 'polygon', 'all_points_x': [323, 322,...",{}
17,rr-0001-0002-1-62-0062.jpg,378044,{},20,5,"{'name': 'polygon', 'all_points_x': [235, 234,...",{}
18,rr-0001-0002-1-62-0062.jpg,378044,{},20,6,"{'name': 'polygon', 'all_points_x': [249, 248,...",{}
19,rr-0001-0002-1-62-0062.jpg,378044,{},20,7,"{'name': 'polygon', 'all_points_x': [226, 225,...",{}
20,rr-0001-0002-1-62-0062.jpg,378044,{},20,8,"{'name': 'polygon', 'all_points_x': [377, 376,...",{}
21,rr-0001-0002-1-62-0062.jpg,378044,{},20,9,"{'name': 'polygon', 'all_points_x': [246, 245,...",{}
22,rr-0001-0002-1-62-0062.jpg,378044,{},20,10,"{'name': 'polygon', 'all_points_x': [35, 34, 3...",{}
23,rr-0001-0002-1-62-0062.jpg,378044,{},20,11,"{'name': 'polygon', 'all_points_x': [88, 87, 8...",{}
24,rr-0001-0002-1-62-0062.jpg,378044,{},20,12,"{'name': 'polygon', 'all_points_x': [420, 419,...",{}
25,rr-0001-0002-1-62-0062.jpg,378044,{},20,13,"{'name': 'polygon', 'all_points_x': [441, 440,...",{}
26,rr-0001-0002-1-62-0062.jpg,378044,{},20,14,"{'name': 'polygon', 'all_points_x': [282, 281,...",{}
27,rr-0001-0002-1-62-0062.jpg,378044,{},20,15,"{'name': 'polygon', 'all_points_x': [254, 253,...",{}
28,rr-0001-0002-1-62-0062.jpg,378044,{},20,16,"{'name': 'polygon', 'all_points_x': [164, 163,...",{}
29,rr-0001-0002-1-62-0062.jpg,378044,{},20,17,"{'name': 'polygon', 'all_points_x': [164, 163,...",{}
...,...,...,...,...,...,...,...
563,rr-0004-0005-1-128-0128.jpg,297567,{},10,1,"{'name': 'polygon', 'all_points_x': [766, 765,...",{}
564,rr-0004-0005-1-128-0128.jpg,297567,{},10,2,"{'name': 'polygon', 'all_points_x': [864, 863,...",{}
565,rr-0004-0005-1-128-0128.jpg,297567,{},10,3,"{'name': 'polygon', 'all_points_x': [891, 890,...",{}
566,rr-0004-0005-1-128-0128.jpg,297567,{},10,4,"{'name': 'polygon', 'all_points_x': [911, 911,...",{}
567,rr-0004-0005-1-128-0128.jpg,297567,{},10,5,"{'name': 'polygon', 'all_points_x': [613, 612,...",{}
568,rr-0004-0005-1-128-0128.jpg,297567,{},10,6,"{'name': 'polygon', 'all_points_x': [148, 147,...",{}
569,rr-0004-0005-1-128-0128.jpg,297567,{},10,7,"{'name': 'polygon', 'all_points_x': [196, 195,...",{}
570,rr-0004-0005-1-128-0128.jpg,297567,{},10,8,"{'name': 'polygon', 'all_points_x': [190, 189,...",{}
571,rr-0004-0005-1-128-0128.jpg,297567,{},10,9,"{'name': 'polygon', 'all_points_x': [156, 155,...",{}
572,rr-0004-0005-1-187-0187.jpg,490433,{},10,0,"{'name': 'polygon', 'all_points_x': [415, 414,...",{}
573,rr-0004-0005-1-187-0187.jpg,490433,{},10,1,"{'name': 'polygon', 'all_points_x': [825, 824,...",{}
574,rr-0004-0005-1-187-0187.jpg,490433,{},10,2,"{'name': 'polygon', 'all_points_x': [911, 911,...",{}
575,rr-0004-0005-1-187-0187.jpg,490433,{},10,3,"{'name': 'polygon', 'all_points_x': [750, 750,...",{}
576,rr-0004-0005-1-187-0187.jpg,490433,{},10,4,"{'name': 'polygon', 'all_points_x': [599, 598,...",{}
577,rr-0004-0005-1-187-0187.jpg,490433,{},10,5,"{'name': 'polygon', 'all_points_x': [333, 332,...",{}
578,rr-0004-0005-1-187-0187.jpg,490433,{},10,6,"{'name': 'polygon', 'all_points_x': [213, 212,...",{}
579,rr-0004-0005-1-187-0187.jpg,490433,{},10,7,"{'name': 'polygon', 'all_points_x': [716, 715,...",{}
580,rr-0004-0005-1-187-0187.jpg,490433,{},10,8,"{'name': 'polygon', 'all_points_x': [768, 767,...",{}
581,rr-0004-0005-1-187-0187.jpg,490433,{},10,9,"{'name': 'polygon', 'all_points_x': [857, 856,...",{}
582,rr-0004-0005-11645-117-69.jpg,137534,{},3,0,"{'name': 'polygon', 'all_points_x': [166, 165,...",{}
583,rr-0004-0005-11645-117-69.jpg,137534,{},3,1,"{'name': 'polygon', 'all_points_x': [653, 652,...",{}
584,rr-0004-0005-11645-117-69.jpg,137534,{},3,2,"{'name': 'polygon', 'all_points_x': [665, 664,...",{}
585,rr-0004-0005-12013-251-409.jpg,79195,{},1,0,"{'name': 'polygon', 'all_points_x': [16, 15, 1...",{}
586,rr-0004-0006-11645-126-133.jpg,177254,{},7,0,"{'name': 'polygon', 'all_points_x': [280, 280,...",{}
587,rr-0004-0006-11645-126-133.jpg,177254,{},7,1,"{'name': 'polygon', 'all_points_x': [261, 260,...",{}
588,rr-0004-0006-11645-126-133.jpg,177254,{},7,2,"{'name': 'polygon', 'all_points_x': [195, 194,...",{}
589,rr-0004-0006-11645-126-133.jpg,177254,{},7,3,"{'name': 'polygon', 'all_points_x': [353, 352,...",{}
590,rr-0004-0006-11645-126-133.jpg,177254,{},7,4,"{'name': 'polygon', 'all_points_x': [348, 347,...",{}
591,rr-0004-0006-11645-126-133.jpg,177254,{},7,5,"{'name': 'polygon', 'all_points_x': [643, 642,...",{}
592,rr-0004-0006-11645-126-133.jpg,177254,{},7,6,"{'name': 'polygon', 'all_points_x': [269, 268,...",{}